.container {
  padding: 0 2rem 0 2rem; 
}

.main {
  min-height: 10vh;
  padding: 14rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.footer p {
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footerDisclaimer {
  flex: 1;
  text-align: center;
  font: 0.9em sans-serif;
  padding-top: 0;
  margin-top: 0;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title .blue {
  color: #0070f3;
  text-decoration: none;
}

.buildLink {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 0.5;
  font-size: 0.8rem;
  text-decoration: none;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 800px;
  text-align: center;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 200px;
  max-width: 300px;
}

.cardExpanded {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 600px;
  max-width: 800px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.bigText {
  font-size: large;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}


.loader {
  width: 100px;
  height: 100px;
  margin: 0px;
  display:inline-block;
}

@media (max-width: 600px) {
  .title {
    font-size: 3rem;
  }

  .grid {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
  }

  .main {
    padding: 1rem
  }

  .cardExpanded {
    min-width: 100%;
  }

  .footer {
    width: 100%;
    display: flex;
    margin: auto;
    max-width: 100%;
  }

  .footer a {
    flex: 1;
    text-align: center;
  }
  
  .footer p {
    flex: 1;
    text-align: center;
    max-width: 100%;
  }

  .footerDisclaimer {
    display: none;
  }
}
